@model maryplusjim.ui.Model.WeddingContent
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Mary + Jim</title>

    <!-- Preloader CSS -->
    <link href="~/css/royal_preloader.css" rel="stylesheet">

    <!-- jQuery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Parallax -->
    <script type="text/javascript" src="~/js/parallax.min.js"></script>

    <!-- Preloader -->
    <script type="text/javascript" src="~/js/royal_preloader.min.js"></script>
    <script type="text/javascript">
        Royal_Preloader.config({
            mode: 'number',
            showProgress: false,
            background: '#ffffff'
        });
    </script>

    <!-- Stylesheets -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/ionicons.min.css" rel="stylesheet">
    <link href="~/css/magnific-popup.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" title="main-css">

    <!-- Style Switcher / remove for production -->
    <link href="~/css/style-switcher.css" rel="stylesheet">

    <!-- Alternate Stylesheets / choose what color and base you want and include the 2 files regularly AFTER style.css above -->
    <link rel="alternate stylesheet" type="text/css" href="~/css/colors/pink.css" title="pink">
    <link rel="alternate stylesheet" type="text/css" href="~/css/colors/green.css" title="green">
    <link rel="alternate stylesheet" type="text/css" href="~/css/colors/orange.css" title="orange">
    <link rel="alternate stylesheet" type="text/css" href="~/css/colors/gold.css" title="gold">
    <link rel="alternate stylesheet" type="text/css" href="~/css/colors/sleek.css" title="sleek">
    <link rel="alternate stylesheet" type="text/css" href="~/css/colors/seagul.css" title="seagul">
    <link rel="alternate stylesheet" type="text/css" href="~/css/colors/yellow.css" title="yellow">
</head>
<body class="royal_preloader" data-spy="scroll" data-target=".navbar" data-offset="81">
    <div id="royal_preloader"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Begin Header -->
    <header>
        <!-- Begin Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="row">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header" hidden="hidden">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand scroll-link" href="#home" data-id="home">Married</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#home" data-id="home" class="scroll-top">Home</a></li>
                            <li><a href="#story" data-id="story" class="scroll-link">Story</a></li>
                            <li><a href="#gallery" data-id="gallery" class="scroll-link">Gallery</a></li>
                            <li><a href="#location" data-id="location" class="scroll-link">Location</a></li>
                            <li><a href="#registry" data-id="registry" class="scroll-link">Registry</a></li>
                            <li><a href="#faq" data-id="faq" class="scroll-link">FAQ</a></li>
                            @*<li class="nav-btn">
                                <a data-toggle="modal" data-target="#rsvp-modal" class="btn btn-primary btn-lg">RSVP</a>
                            </li>*@
                            <!--
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="components.html">Components</a></li>
                                    <li><a href="../index.html">Demos</a></li>
                                </ul>
                            </li>-->
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </nav>
        <!-- End Navigation -->
        <!-- Begin RSVP Form -->
        <div class="modal fade" id="rsvp-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="ion-ios-close-empty"></span>
                        </button>
                        <span class="pe-7s-anchor services-icon-2"></span>
                        <h4 class="modal-title">RSVP</h4>
                    </div>
                    <div class="modal-body">
                        <p class="mb20">
                            Pellentesque tincidunt tempor fermentum. Nunc vehicula ut lec tus ac commodo cibus justo. Phasellus pulvinar tellus sed dictum semper. Donec vitae sapien quis nisl gravida finibus. Aenean in condimentum nisl, hendrerit aliquet quam.
                            @*Html.DisplayFor(x => x.RsvpBody)*@
                        </p>
                        <form data-toggle="validator" id="contactForm" name="contactForm">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="name">Name *</label>
                                        <div class="controls">
                                            <input class="form-control" data-error="This section is required." id="name" placeholder="Your full name" required="" type="text">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div><!-- /.column -->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="name">Email *</label>
                                        <div class="controls">
                                            <input class="email form-control" data-error="This section is required." id="email" placeholder="Enter your email" required="" type="email">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div><!-- /.column -->
                            </div><!-- /.row -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="name">Guests *</label>
                                        <div class="controls">
                                            <input class="form-control" data-error="This section is required."
                                                   id="msg_subject" placeholder="Total guests with names" required="" type="text">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div><!-- /.column -->
                            </div><!-- /.row -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group mb10">
                                        <label for="name">Message *</label>
                                        <div class="controls">
                                            <textarea class="form-control" data-error="This section is required." id="message" placeholder="Any extra information" required="" rows="5"></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mb20">
                                    <div id="msgSubmit" class="h4 hidden no-margin-bottom"></div>
                                </div><!-- /.column -->
                                <div class="col-sm-12 text-right">
                                    <button type="submit" id="submit" class="btn btn-primary btn-block btn-lg">Send</button>
                                </div><!-- /.column -->
                            </div><!-- /.row -->
                        </form><!-- /.form -->
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- End RSVP Form -->
    </header>
    <!-- End Header -->
    <!-- Begin Slideshow -->
    <div id="slideshow" class="carousel carousel-fade slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <!-- Overlay Text -->
            <div class="overlay jumbotron-holder">
                <div class="center-vertically-holder">
                    <div class="center-vertically bottomReveal">
                        <h1 class="header-title">
                            Mary and Jim's Wedding
                            @*Html.DisplayFor(x => x.HeaderTitle)*@
                        </h1>
                        <span class="section-divider section-divider-center section-divider-transparent"></span>
                        <p class="mb20">
                            On May 28th · Hotel Monaco in Philadelphia, Pennsylvania
                            @*@Html.DisplayFor(x => x.HeaderDate)*@
                        </p>
                        @*<button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#rsvp-modal">RSVP</button>*@
                    </div>
                </div>

                <div class="scroll-down mb30">
                    <a href="#story" data-id="story" class="btn scroll-link"><span class="ion-ios-arrow-down scroll-indicator"></span></a>
                </div>
            </div>
            @for (var i = 1; i <= 3; i++)
        {
            var divClass = "item jumbotron-holder" + ((i == 1) ? " active" : "");
            <div class="@divClass">
                <div class="fill" style="background-image:url('@Url.Content("~/images/header-" + i + ".jpg")');"></div>
            </div>
            }

            <!-- Slideshow Images -->
            @*<div class="item jumbotron-holder active">
                    <div class="fill" style="background-image:url('@Url.Content("~/images/header-2.jpg")');"></div>
                    <div class="carousel-caption">
                        Taken: March 4th, 2015
                    </div>
                </div>*@
        </div>

    </div>
    <!-- End Slideshow -->
    <!-- Start Story -->
    <section id="story" class="section-padding">
        <div class="container">
            <div class="row">
                <!-- Content -->
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h3 class="section-title mb30">Our Story</h3>

                    <p class="mb20">It only took 38 years for us to meet. And it took Mary making the first move on OKCupid to make it happen. (She’s an modern woman… what else did you expect?)</p>
                    <p class="mb20">Fortunately for us both, Jim eagerly took the ball from there, and pursued Mary with all the enthusiasm and open-heartedness you’d expect if you know Jim.</p>
                    <p class="mb20">We’ve been happily together since October 8th, where we talked about personal growth and what matters most to us over Roija and Scotch on our first date. A little over a year later, we were engaged in the most romantic of fashions. (see below for details!)</p>
                    <p class="mb30">We hope our wedding reflects who we are: non-traditional, fun-loving and grateful for all the love and support in our lives. We want to be able to spend time with all of you, and celebrate a love that took its time to come along. (But you know what they say happens to those who wait…)</p>

                    <!-- Social -->
                    <h3 class="section-sub-title">Share</h3>
                    <div id="fb-root"></div>
                    <div class="fb-share-button" data-href="http://www.maryplusjim.com" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.maryplusjim.com%2F&amp;src=sdkpreparse">Share</a></div>
                    <!--<iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;layout=button_count&amp;size=small&amp;mobile_iframe=true&amp;width=86&amp;height=20&amp;appId" width="96" height="20" style="border:none;overflow:hidden"></iframe>-->
                    <!--<iframe id="tweet-button" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html?via=marcus_christie&amp;text=Replace%20Me&amp;count=horizontal" style="width:63px; height:20px;"></iframe>-->
                </div><!-- /.column -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <!-- End Story -->
    <!-- Start Timeline -->
    <section class="section-border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline timeline-pad">
                        <!-- Item 1 -->
                        <li>
                            <div class="timeline-image scaleReveal"><img alt="" class="img-circle img-responsive" src="~/images/gallery/story-1.jpg"></div>
                            <div class="timeline-panel leftReveal">
                                <div class="timeline-heading">
                                    <h3 class="section-sub-title text-color mb15">October 29th 2015</h3>
                                    <h4>Jim falls in love</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Our fifth date at The Olde Bar is where our love first sparked. Jim got “the feels” for Mary and she realized what a keeper he truly was.</p>
                                </div>
                            </div>
                        </li>

                        <!-- Item 2 -->
                        <li class="timeline-inverted">
                            <div class="timeline-image scaleReveal"><img alt="" class="img-circle img-responsive" src="~/images/gallery/story-2.jpg"></div>
                            <div class="timeline-panel rightReveal">
                                <div class="timeline-heading">
                                    <h3 class="section-sub-title text-color mb15">Exactly one year passes</h3>
                                    <h4>Mary spends a year catching up to Jim’s certainty</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>(She’s practical. He’s a romantic. We make it work!)</p>
                                </div>
                            </div>
                        </li>

                        <!-- Item 3 -->
                        <li>
                            <div class="timeline-image scaleReveal"><img alt="" class="img-circle img-responsive" src="~/images/gallery/story-3.jpg"></div>
                            <div class="timeline-panel leftReveal">
                                <div class="timeline-heading">
                                    <h3 class="section-sub-title text-color mb15">October 29th 2016</h3>
                                    <h4>Jim knocks Mary’s socks off</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>After learning to play the ukulele, Jim surprised Mary while she was with her parents, sisters and their husbands. In the guise of a Renaissance troubadour, he sang “The Book of Love” to Mary while his children, James and Alicia, each presented a bouquet of her favorite flowers, yellow roses.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- /.column -->
            </div><!-- /.row -->

        </div><!-- /.container -->
    </section>
    <!-- End Timeline -->
    <!-- Begin Parallax Image -->
    <div class="jumbotron-holder" style="height:500px">
        <div class="jumbotron jumbotron-page parallax-window" data-parallax="scroll" data-image-src="@Url.Content("~/images/header-1.jpg")">
            <div class="container center-vertically-holder">
                <div class="center-vertically">
                    <div class="col-md-10 col-md-offset-1 text-center scaleReveal">
                        <h3 class="section-sub-title mb10 text-white">Save The Date</h3>
                        <h2 class="no-margin text-white">
                            May 28th · 2017
                        </h2>
                    </div><!-- /.column -->
                </div><!-- /.vertical center -->
            </div><!-- /.container -->
        </div><!-- /.jumbotron -->
    </div><!-- /.jumbotron holder -->
    <!-- End Parallax Image -->
    <!-- Start Gallery -->
    <section id="gallery" class="section-padding section-border-bottom">
        <div class="container">
            <div class="row">
                <!-- Title -->
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h3 class="section-title mb20">Gallery</h3>
                    <!--<p class="mb30 scaleReveal">We did a cute little photoshoot for the wedding <span class="lead ion-happy-outline text-color"></span></p>-->
                </div><!-- /.column -->
            </div><!-- /.row -->

            <div class="row">
                @for (int i = 1; i <= 9; i++)
                {
                    var imageName = Url.Content("~/images/gallery/" + i + ".jpg");
                    <div class="col-sm-4 mb30">
                        <a href="@imageName" title="Image 1" class="zoom">
                            <img src="@imageName" class="img-responsive img-gallery img-circle" alt="...">
                        </a>
                    </div>
                }
            </div><!-- /.row -->

        </div><!-- /.container -->
    </section>
    <!-- End Gallery -->
    <!-- Start Location -->
    <section id="location" class="section-padding section-border-bottom">
        <div class="container">
            <div class="row">
                <!-- Title -->
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h3 class="section-title mb30">Location</h3>
                    <p class="mb50">Our goal is to enjoy our wedding as much as possible. We want to be at cocktail hour. We want to sit down and enjoy the meal we’ll carefully select. And we want time to enjoy all of you: the people who matter most to us.</p>
                    <p class="mb50">To help us accomplish these goals, we are going to have a two hour open bar the night before our wedding for any guest who is already in Philadelphia. (Details TBD). <span class="text-heavy text-color">All day-of-wedding activities will be at the Hotel Monaco</span>, but the cocktail hour will be up on the Stratus Lounge, on the building’s roof, immediately following the ceremony.</p>
                </div><!-- /.column -->
            </div><!-- /.row -->

            <div class="row">
                <!-- Item 1 -->
                <div class="col-sm-4 text-center leftReveal">
                    <h3 class="section-sub-title text-color text-heavy">Ceremony</h3>
                    <img src="~/images/location-ceremony.jpg" class="img-responsive img-venue rotateLeftReveal" alt="...">
                    <h2 class="section-venue-title">Lafayette Ballroom</h2>
                    <p class="">May 28th,  4-5pm · Philadelphia, Pennsylvania</p>
                    <small>
                        <em>
                            <a class="popup-gmaps underline-link" href="https://maps.google.com/maps?q=433+Chestnut+Street,+Philadelphia+Pennsylvania&hl=en&t=v&hnear=433+Chestnut+Street,+Philadelphia+Pennsylvania">Open Map</a>
                            <!--https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom-->
                        </em>
                    </small>
                </div><!-- /.column -->
                <!-- Item 2 -->
                <div class="col-sm-4 text-center bottomReveal">
                    <h3 class="section-sub-title text-color mt40-xs text-heavy">Cocktail Hour</h3>
                    <img src="~/images/location-cocktail-hour.jpg" class="img-responsive img-venue rotateLeftReveal" alt="...">
                    <h2 class="section-venue-title">Stratus Rooftop Lounge</h2>
                    <p class="">May 28th,  5-6pm · Philadelphia, Pennsylvania</p>
                    <small>
                        <em>
                            <a class="popup-gmaps underline-link" href="https://maps.google.com/maps?q=433+Chestnut+Street,+Philadelphia+Pennsylvania&hl=en&t=v&hnear=433+Chestnut+Street,+Philadelphia+Pennsylvania">Open Map</a>
                        </em>
                    </small>
                </div><!-- /.column -->
                <!-- Item 3 -->
                <div class="col-sm-4 text-center rightReveal">
                    <h3 class="section-sub-title text-color mt40-xs text-heavy">Reception</h3>
                    <img src="~/images/location-reception.jpg" class="img-responsive img-venue rotateLeftReveal" alt="...">
                    <h2 class="section-venue-title">Lafayette Ballroom</h2>
                    <p class="">May 28th,  6-10pm · Philadelphia, Pennsylvania</p>
                    <small>
                        <em>
                            <a class="popup-gmaps underline-link" href="https://maps.google.com/maps?q=433+Chestnut+Street,+Philadelphia+Pennsylvania&hl=en&t=v&hnear=433+Chestnut+Street,+Philadelphia+Pennsylvania">Open Map</a>
                        </em>
                    </small>
                </div><!-- /.column -->
            </div>
            <div class="row"><p /></div>
            <div class="row"><p /></div>
            <div class="row">
                <!-- Item 1 -->
                <div class="col-sm-4 col-sm-offset-4 text-center leftReveal">
                    <h3 class="section-sub-title text-color text-heavy">The Night Before (Optional)</h3>
                    <img src="~/images/location-night-before.jpg" class="img-responsive img-venue rotateLeftReveal" alt="...">
                    <h2 class="section-venue-title">Destination - To be determined!</h2>
                    <p class="no-margin-bottom">May 27th,  7-9pm · Philadelphia, Pennsylvania</p>
                    <small>
                        <em>
                            <a class="popup-gmaps underline-link" href="">Open Map</a>
                        </em>
                    </small>
                </div><!-- /.column -->
            </div>


            @*<div class="row">
                    <!-- Title -->
                    <div class="col-sm-8 col-sm-offset-2 text-center mt50">
                        <p class="no-margin"><span class="text-heavy text-color">*</span> Donec vitae sapien quis nisl gravida finibus. Aenean in condimentum nisl, hendrerit aliquet quam. Aenean in condimentum nisl, hendrerit aliquet quam.</p>
                    </div><!-- /.column -->
                </div><!-- /.row -->*@
        </div><!-- /.container -->
    </section>
    <!-- End Location -->
    <!-- Start Accommodations -->
    <section id="accommodations" class="section-padding section-border-bottom">
        <div class="container">
            <div class="row">
                <!-- Title -->
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h2 class="section-title mb30">Accommodations</h2>
                </div><!-- /.column -->
            </div><!-- /.row -->

            <div class="row">
                <p class="mb20">We’ve reserved a block of rooms at the Hotel Monaco for both Saturday and Sunday night. They’ve given us a 30% discount off their normal room rates, but the hotel is quite the hotspot, so we completely understand if you’d prefer to look for less swanky accommodations elsewhere.</p>
            </div>

            <div class="row">
                <!-- Item 1 -->
                <div class="text-center leftReveal">
                    <h3 class="section-sub-title text-color">Hotel</h3>
                    <h2 class="section-venue-title">Hotel Monaco</h2>
                    <p class="no-margin-bottom">433 Chestnut Street · Philadelphia, PA 19106</p>
                    @*<small>
                        <em>
                            <a class="popup-gmaps underline-link" href="https://maps.google.com/maps?q=433+Chestnut+Street,+Philadelphia+Pennsylvania&hl=en&t=v&hnear=433+Chestnut+Street,+Philadelphia+Pennsylvania">Open Map</a>
                        </em>
                    </small>*@
                    <div class="row">
                        <p>
                            <div class="col-sm-6 text-right text-color">Sunday Night</div>
                            <div class="col-sm-6 text-left">Single king room ($199 + tax)</div>
                            <div class="col-sm-6 text-right"><em>Our wedding night</em></div>
                            <div class="col-sm-6 text-left">2 queen bed room ($219 + tax)</div>
                        </p>
                    </div>
                    
                    <div class="row">
                        <p>
                            <div class="col-sm-6 text-right text-color">Sunday Night</div>
                            <div class="col-sm-6 text-left">Single king room ($269 + tax)</div>
                            <div class="col-sm-6 text-right"><em>If you want to come to the wedding-eve party or just explore Philly!</em></div>
                            <div class="col-sm-6 text-left">2 queen bed room ($289 + tax)</div>
                        </p>
                    </div>
                <div class="row">
                    <a class="btn btn-default" href="https://gc.synxis.com/rez.aspx?Hotel=56524&Chain=10179&Dest=PHILLY&locale=en-US&arrive=5/27/2017&depart=5/29/2017&adult=1&child=0&group=20000704336">
                        Book
                    </a>
                </div>

                    @*<h3 class="section-sub-title text-color">Sunday Night (our wedding night)</h3>
                    <h4>Single king room ($199 + tax), 2 queen bed room ($219 + tax)</h4>

                    <h3 class="section-sub-title text-color">Saturday Night (if you want to come to the wedding-eve party or just explore Philly!)</h3>
                    <h4>Single king room ($269 + tax), 2 queen bed room ($289 + tax)</h4>*@
                </div><!-- /.column -->
            </div><!-- /.row -->

        </div><!-- /.container -->
    </section>
    <!-- End Accommodations -->
    <!-- Start Registry -->
    <section id="registry" class="section-padding section-border-bottom">
        <div class="container">
            <div class="row">
                <!-- Title -->
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h2 class="section-title mb30">Registry</h2>
                    <p class="lead-xl">We are both approaching (and about to pass) 40. Needless to say, we don’t need a lot of household items. Both of us are very experience-driven and want to have a wonderfully luxurious Honeymoon. Instead of registering for things we don’t need and won’t use (case in point, Mary opted to forgo an engagement ring), we are registering for experiences that will make sure it’s the Honeymoon of our dreams.</p>
                </div><!-- /.column -->
            </div><!-- /.row -->

            <div class="row">
                <!-- Content -->
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <!-- Logos -->
                    <a href="https://www.honeyfund.com/wedding/MaryPlusJim#r"><img src="~/images/honeyfund.png" class="img-responsive registry-logo leftReveal" alt="..."></a>
                   
                    @*<a href="#"><img src="~/images/logo-2.png" class="img-responsive registry-logo bottomReveal" alt="..."></a>
                    <a href="#"><img src="~/images/logo-3.png" class="img-responsive registry-logo rightReveal" alt="..."></a>
                    <hr class="hr-small mt50 mb50">*@

                    <!-- More Options -->
                    @*<h3 class="section-sub-title text-color">More Options</h3>
                    <h2 class="section-venue-title bottomReveal">Check</h2>
                    <p class="no-margin bottomReveal">Hand deliver us a check.</p>
                    <h2 class="section-venue-title bottomReveal">Paypal</h2>
                    <p class="no-margin bottomReveal">You can send a little something <a class="color-link underline-link" href="http://paypal.com" target="_blank">here</a>.</p>*@
                </div><!-- /.column -->
            </div><!-- /.row -->

        </div><!-- /.container -->
    </section>
    <!-- End Registry -->
    @*<!-- Begin Our Count -->
        <section id="ourcount" class="section-padding section-border-bottom">
            <div class="container">
                <div class="row">
                    <!-- Title -->
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h2 class="section-title mb30">Numbers</h2>
                    </div><!-- /.column -->
                </div><!-- /.row -->

                <div class="row">
                    <!-- Item 1 -->
                    <div class="col-sm-6 col-md-3 item">
                        <div class="circle-hold">
                            <i class="ion-ios-paw-outline"></i>
                        </div>
                        <h2 class="timer mb5" data-from="1" data-to="3" data-refresh-interval="20">1</h2>
                        <p class="no-margin">Number of pets</p>
                    </div><!-- /.column -->
                    <!-- Item 2 -->
                    <div class="col-sm-6 col-md-3 item mt30-xs">
                        <div class="circle-hold">
                            <i class="ion-ios-calendar-outline"></i>
                        </div>
                        <h2 class="timer mb5" data-from="1" data-to="5" data-refresh-interval="20">1</h2>
                        <p class="no-margin">Months until we Marry</p>
                    </div><!-- /.column -->
                    <!-- Item 3 -->
                    <div class="col-sm-6 col-md-3 item mt30-xs mt30-sm">
                        <div class="circle-hold">
                            <i class="ion-ios-rose-outline"></i>
                        </div>
                        <h2 class="timer mb5" data-from="1" data-to="934" data-refresh-interval="20">1</h2>
                        <p class="no-margin">Roses Joe gave me</p>
                    </div><!-- /.column -->
                    <!-- Item 4 -->
                    <div class="col-sm-6 col-md-3 item mt30-xs mt30-sm">
                        <div class="circle-hold">
                            <i class="ion-ios-people-outline"></i>
                        </div>
                        <h2 class="timer mb5" data-from="1" data-to="4" data-refresh-interval="20">1</h2>
                        <p class="no-margin">Months until the baby</p>
                    </div><!-- /.column -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.section -->
        <!-- End Our Count -->
        <!-- Start Baby Progress -->
        <section id="baby-progress" class="section-padding section-border-bottom">
            <div class="container">
                <div class="row">
                    <!-- Title -->
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h2 class="section-title mb30">Baby Progress</h2>
                        <p class="mb50">Pellentesque tincidunt tempor fermentum. Nunc vehicula ut lectus ac commodo. In ut fau cibus justo. Phasellus pulvinar tellus sed dictum semper. Donec vitae sapien quis nisl gravida finibus. Aenean in condimentum nisl, hendrerit aliquet quam.</p>
                    </div><!-- /.column -->
                </div><!-- /.row -->

                <div class="row">
                    <!-- Progress Bar -->
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="progress leftReveal">
                            <div class="progress-bar text-left" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                60%
                            </div>
                        </div>
                        <!-- Progress Bar Meter -->
                        <div class="progress-meter leftReveal">
                            <div class="meter meter-left" style="width: 30%;"><span class="meter-text">Pregnant</span></div>
                            <div class="meter meter-left" style="width: 20%;"><span class="meter-text">3 Months</span></div>
                            <div class="meter meter-right" style="width: 20%;"><span class="meter-text">Joey's Here</span></div>
                            <div class="meter meter-right" style="width: 30%;"><span class="meter-text">Closer</span></div>
                        </div>
                        <p class="lead-xl mt70 no-margin-bottom"><span class="text-heavy text-color">*</span> Pellentesque tincidunt tempor fmentum.</p>
                        <hr class="hr-small mt50 mb50">
                        <h2 class="section-venue-title no-margin-top">Baptism</h2>
                        <p class="no-margin">July 21st · Bue, Washington</p>
                        <small>
                            <em>
                                <a class="popup-gmaps underline-link" href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&amp;hl=en&amp;t=v&amp;hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom">Open Map</a>
                            </em>
                        </small>
                    </div><!-- /.column -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>
        <!-- End Baby Progress -->*@

    <section id="faq" class="section-padding section-border-bottom">
        <div class="container">
            <div class="row">
                <!-- Title -->
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h2 class="section-title mb30">FAQ</h2>
                    <p class="lead-xl">We are both approaching (and about to pass) 40. Needless to say, we don’t need a lot of household items. Both of us are very experience-driven and want to have a wonderfully luxurious Honeymoon. Instead of registering for things we don’t need and won’t use (case in point, Mary opted to forgo an engagement ring), we are registering for experiences that will make sure it’s the Honeymoon of our dreams.</p>
                </div><!-- /.column -->
            </div><!-- /.row -->

            <div class="row">
                <!-- Content -->
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    @*<h3 class="section-sub-title text-color">More Options</h3>*@
                    <h2 class="section-venue-title bottomReveal">Are my children invited?</h2>
                    <p class="no-margin bottomReveal">The only children invited are Jim’s. We love your kids, but we don’t want a huge wedding and need all the room on the dance floor for ourselves! ;)</p>

                    <h2 class="section-venue-title bottomReveal">Do the women need a jacket for the roofdeck cocktail hour?</h2>
                    <p class="no-margin bottomReveal">There are several indoor options on the roofdeck bar, so you can choose to be indoors or outdoors. No need to bring extra layers.</p>

                    <h2 class="section-venue-title bottomReveal">Will there be an afterparty?</h2>
                    <p class="no-margin bottomReveal">You betcha. Details still in progress, but the reception ends at 10 and we expect to keep the party going.</p>

                    <h2 class="section-venue-title bottomReveal">What’s the deal with the wedding-eve gathering?</h2>
                    <p class="no-margin bottomReveal">As of now, we expect to provide a two hour open bar at a fun spot in Philly, starting sometime in the vicinity of 7pm. It will not be dinner, so come already fed (we’ll provide some Philly food and touring highlights on this site in the future).</p>
                    <p class="no-margin bottomReveal">Our hope is we’ll get more quality time with all of you, and you will all have the opportunity to mix and mingle for an even better celebration at our wedding.</p>

                    <!--<a class="color-link underline-link" href="http://paypal.com" target="_blank">here</a>-->
                </div><!-- /.column -->
            </div><!-- /.row -->

        </div><!-- /.container -->
    </section>

    <!-- Start Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <!-- Logo -->
                @*<div class="col-xs-10">
                        <div class="footer-brand">Married</div>
                        <span class="mt5 no-margin-bottom">© Denis Samardjiev</span>
                    </div>*@

                <!-- Arrow -->
                <div class="col-xs-2 text-right">
                    <a href="#" class="scroll-top"><i class="footer-arrow ion-ios-arrow-up"></i></a>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </footer>
    <!-- End Footer -->
    <!-- Javascript Files -->
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.inview.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.countTo.js"></script>
    <script type="text/javascript">
        /* ---- Counter (our count) ---- */
        $('#ourcount').one('inview', function (event, isInView) {
            if (isInView) {
                $('.timer').countTo({ speed: 3000 });
            }
        });
    </script>
    <script type="text/javascript" src="~/js/form-validator.min.js"></script>
    <script type="text/javascript" src="~/js/style-switcher.js"></script>
    <script type="text/javascript" src="~/js/scrollreveal.min.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
</body>
</html>